<launch>
    
    <node pkg="yesense_imu" type="yesense_imu_node" name="yesense_imu_node" output="screen" respawn="true" respawn_delay="0.002" >
        <param name="yesense_port"      type="string" value="/dev/ttyACM"/>
        <param name="yesense_baudrate"  type="int"    value="460800"/>
    </node>

</launch>
