<launch>
  <arg name="bagfile" default="/home/pi/ros_datas/my_bagfile.bag"/>
  
  <arg name="topics" default="/controllers/legged_controller/joint_position  /controllers/legged_controller/joint_velocity  /controllers/legged_controller/joint_torque 
  /controllers/legged_controller/cmd_joint_position  /controllers/legged_controller/cmd_joint_velocity  /controllers/legged_controller/cmd_joint_torque
  /controllers/legged_controller/SwingKdErrWBC /controllers/legged_controller/SwingKpErrWBC /controllers/legged_controller/SwingPosErrWBC /controllers/legged_controller/SwingVelErrWBC"/>

  <node name="rosbag_record" pkg="rosbag" type="record" args="-o $(arg bagfile) $(arg topics)"/>
</launch>